ul {
	list-style: none;
}

.hide {
	display: none;
}

div.headline {
	margin-bottom: 40px;
}

table.documents-overview th {
	border: 0px;
	background-color: white;
	padding: 2px;
	padding-left: 20px;
	padding-right: 20px;
	font-weight: normal;
}

table.documents-overview td {
	padding-left: 20px;
	padding-right: 20px;
	background-color: #EEEEEE;
	border: 0px;
}

table.documents-overview td:nth-child(1) {
	font-size: 20px;
	font-weight: bold;
}

table.documents-overview td:nth-child(2) {
	font-size: 16px;
}

table.documents-overview td:nth-child(3) {
	font-size: 16px;
}

table.documents-overview td:nth-child(4) {
	padding-left: 0px;
	padding-right: 0px;
}

div.sidebar-menu-container {
	max-width: 200px;
}

.nav-pills a {
	background-color: #DDDDDD;
}

textarea {
	overflow: hidden;
	resize: none;
	width: 100%;
	border: none;
}

.hidden-form-element {
	background-color: transparent;
	border-width: 0px;
}

textarea.comment {
	width: 100%;
	min-height: 6em;
	border: 1px solid grey;
}

button.merge {
	width: 100%;
}

td {
	height: 50px;
}

button.delete-button {
	height: 46px;
}

.dimmed {
	opacity: 0.5;
}

.edit-mode-active .show-on-focus {
	display: block;
}

.show-on-focus {
	display: none;
}

/*sortable placeholder css*/
.ui-state-highlight {
	height: 3em;
	border: 1px dashed gray;
}

.unsaved {
	border: 1px solid red;
}

.size_1 {
	font-size: 1.5rem;
}

.size_2 {
	font-size: 2rem;
}

.size_3 {
	font-size: 2.5rem;
}

.size_4 {
	font-size: 3rem;
}

.size_5 {
	font-size: 3.5rem;
}

.roll-out-menu {
	position: relative;
}

.roll-out-menu ul {
	position: absolute;
	width: 100%;
/* 	top: 30px; */
}