ul {
	list-style: none;
}

.hide {
	display: none;
}

div.headline {
	margin-bottom: 40px;
}

table.documents-overview th {
	border: 0px;
	background-color: white;
	padding: 2px;
	padding-left: 20px;
	padding-right: 20px;
	font-weight: normal;
}

table.documents-overview td {
	padding-left: 20px;
	padding-right: 20px;
	background-color: #EEEEEE;
	border: 0px;
	min-width: 100px;
}

table.documents-overview td:nth-child(1) {
	font-size: 20px;
	font-weight: bold;
}

table.documents-overview td:nth-child(2) {
	font-size: 16px;
}

table.documents-overview td:nth-child(3) {
	font-size: 16px;
}

table.documents-overview td:nth-child(4) {
	padding-left: 0px;
	padding-right: 0px;
}

div.sidebar-menu-container {
	max-width: 200px;
}

.nav-pills a,.nav-pills select,.nav-pills textarea {
	background-color: #DDDDDD;
}

textarea {
	overflow: hidden;
	resize: none;
	width: 100%;
	border: none;
	padding: 4px;
}

textarea.comment {
	width: 100%;
	resize: both;
	border: 1px solid #cccccc;
	border-radius: 3px;
}

.hidden-form-element {
	background-color: transparent;
	border-width: 0px;
}

button.merge {
	width: 100%;
}

td {
	height: 50px;
}

button.delete-button {
	height: 46px;
}

.dimmed {
	opacity: 0.5;
}

.edit-mode-active .show-on-focus {
	display: block;
}

.show-on-focus {
	display: none;
}

/*sortable placeholder css*/
.ui-state-highlight {
	height: 3em;
	border: 1px dashed gray;
}

.size_1 {
	font-size: 4rem;
}

.size_2 {
	font-size: 3.5rem;
}

.size_3 {
	font-size: 3rem;
}

.size_4 {
	font-size: 2.5rem;
}

.size_5 {
	font-size: 2rem;
}

.size_6 {
	font-size: 1.5rem;
}

.roll-out-menu {
	position: relative;
}

.roll-out-menu ul {
	position: absolute;
	width: 100%;
}

#overlay {
	z-index: 1000;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.2);
	position: fixed;
}

.alert {
	z-index: 500;
	position: fixed;
	width: 400px;
	margin-top: 10px;
	left: 50%;
	margin-left: -200px;
}

.alert div.msg {
	margin-bottom: 10px;
}

.alert button.save {
	float: right;
}

div.metatag-input {
	margin-bottom: 5px;
}

.filterbar input {
	width: 200px;
	display: inline;
}

.filterbar select {
	width: 200px;
	display: inline;
}

.filterbar .hashtags {
	margin-top: 10px;
}

.filterbar .hashtags h6 {
	margin-left: 5px;
	margin-bottom: 1px;
}

.filterbar button.right {
	float: right;
	margin-left: 5px;	
}