ul {
  list-style: none;
}

div.headline {
  margin-bottom: 40px;
}

table.documents-overview th {
  border: 0px;
  background-color: white;
  padding: 2px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: normal;
}

table.documents-overview td {
  padding-left: 20px;
  padding-right: 20px;
  background-color: #EEEEEE;
  border: 0px;
}

table.documents-overview td:nth-child(1){
  font-size: 20px;
  font-weight: bold;
}

table.documents-overview td:nth-child(2){
  font-size: 16px;
}

table.documents-overview td:nth-child(3){
  font-size: 16px;
}

table.documents-overview td:nth-child(4){
  padding-left: 0px;
  padding-right: 0px;
}

div.sidebar-menu-container {
  max-width: 200px;
}

.nav-pills a {
  background-color: #DDDDDD;
}

textarea {
  overflow: hidden;
  resize: none;
  width: 100%;
  border: none;
}

textarea#comment{
  display: none;
}

button.merge {
  width: 100%;
}

td {
  height: 50px;
}

button.delete-button {
  height: 46px;
}

.dimmed {
  opacity: 0.5;
}

.show-on-focus{
  display: none;
}