@(docId: Long)
<nav role="navigation" class="navbar navbar-default  navbar-fixed-top">  
    <div class="container">
    	<div class="navbar-header">
            <button data-target="#bs-example-navbar-collapse-1" data-toggle="collapse" class="navbar-toggle" type="button">
                <span class="sr-only">Navigation ein-/ausblenden</span>
            </button>
            <a href="/" class="navbar-brand">LearnThis</a>
        </div>
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">
				<li class="right"><a href="/help">Hilfe</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a class="ownBtn" href="/document/new" role="button">Neues Kartenset</a></li>
				<li><a class="ownBtn" href="/import/form" role="button">Importieren</a></li>
				
			</ul>
			
		</div>
    </div>
</nav>   