@(document: Document) @main("New Document") {
<div class="container" data-ng-controller="DocumentController"
	data-ng-init="init(@document.id)">
	<div id="overlay" class="row" data-ng-show="currentlySaving">
	</div>
	<span class="alert alert-danger" ng-hide="saved">
		<div class="msg">
			<strong>Achtung!</strong> Das Dokument ist noch nicht gespeichert.
		</div>
		<button class="btn btn-default" data-ng-click="reloadPage()"><span class="glyphicon glyphicon-remove"></span> Verwerfen</button>
		<button class="btn btn-default save" data-ng-click="saveDoc()"><span class="glyphicon glyphicon-floppy-disk"></span> Speichern</button>
	</span>
	<div class="site-head row">
		<ol class="breadcrumb">
			<li><a href="/"> < Übersicht </a></li>
		</ol>
		<div class="col-xs-2"></div>
		<div class="jumbotron col-xs-8">
			<h1><textarea class="hidden-form-element" data-ng-model="document.title" data-ng-change="change()">{{document.title}}</textarea></h1>
			<p>Autor: <input type="text" value="{{document.givenname}}" class="hidden-form-element" data-ng-model="document.givenname" data-ng-change="change()" />
				<input type="text" value="{{document.surname}}" class="hidden-form-element" data-ng-model="document.surname" data-ng-change="change()" />
			</p>
			<p>erstellt: @document.createdAt.format("dd.MM.yyyy HH:mm")</p>
			<p>geändert: @document.changedAt.format("dd.MM.yyyy HH:mm")</p>
			
			<!-- <p>

			</p>
			<p>
				<a data-ng-click="logDoc()">Doc in Console loggen</a>
			</p> -->
		</div>
		<div class="col-xs-2">
			<ul class="nav nav-pills nav-stacked">
				<li><a href='/export/epub/document/{{document.id}}'>EPub</a></li>
				<li><a href='/export/html/document/{{document.id}}'>HTML</a></li>
				<li><a href='/export/pdf/document/{{document.id}}'>PDF</a></li>
				<li><a href="#">XML</a></li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-2"></div>
		<div class="col-xs-8">
<!-- 		########	FILTER    ####### -->
			<div class="filterbar panel panel-default">
			  <div class="panel-heading">Filter</div>
			  <div class="panel-body">
			    <button class="btn btn-default" data-ng-class="{'active': filter == 'alle'}" data-ng-click="filterAlle()">Alle</button>
                <button class="btn btn-default" data-ng-class="{'active': filter == 'nurRueckseite'}" data-ng-click="filterNurRueckseite()">Nur mit Rückseite</button>
			    <input type="text" class="form-control" placeholder="Metainfo" ng-model="search.metatags" data-ng-change="filterNachMetatag()" ng-focus="filterNachMetatag()"/>
                <button class="btn btn-default right" data-ng-class="{'active': show.comments == true}" data-ng-click="showComments()">Rückseite anzeigen</button>
                <button class="btn btn-default right" data-ng-class="{'active': show.metatags == true}" data-ng-click="showMetatags()">Metainfos anzeigen</button>
                <div class="hashtags">
                	<h6>Hashtags:</h6>
	                <select multiple size="3" class="form-control" ng-model="search.hashtags" ng-options="kw for kw in document.keywords"  data-ng-click="filterNachHashTags()"></select>
	                <div class="btn-group-vertical">
	                	<button class="btn btn-default" data-ng-click="selectAllHashTags()"><span class="glyphicon glyphicon-align-justify"></span> Alle auswählen</button>
	                	<button class="btn btn-default" data-ng-click="clearSelectedHashTags()"><span class="glyphicon glyphicon-remove"></span> Auswahl löschen</button>
					</div>
				</div>
			  </div>
			</div>
		</div>
		<div class="col-xs-2"></div>
	</div>

	<div ng-model="document.textelements" 
			ui-sortable="sortableOptions">
		<div class="row text-element "
			data-ng-class="{'edit-mode-active': isActive(textelement)}"
			data-ng-repeat="textelement in document.textelements | filter:filterExpression | nonEmptyIntersection:search.hashtags | orderBy:sort">
			
			<div class="col-xs-2">
				<div class="roll-out-menu" data-ng-if="textelement.type == 'Paragraph'">
					<ul class="nav nav-pills nav-stacked show-on-focus">
						<li class="sort-handle" ><a href="javascript:void(0)">Verschieben</a></li>
						<li><a data-ng-click="split($index)" href="javascript:void(0)">Teilen</a></li>
						<li><a data-ng-click="createParagraph($index+1, document.id)" href="javascript:void(0)">+ Paragraph</a></li>
						<li><a data-ng-click="createHeadline($index, document.id)" href="javascript:void(0)">+ Überschrift</a></li>
						<li><div class="show-on-focus">
					<select class="form-control" data-ng-change="change()" ng-model="textelement.textelementType" ng-options="type for type in textelementTypes"></select>
				</div></li>
						<li><a data-ng-click="deleteElement(textelement, $index)" href="javascript:void(0)">Löschen</a></li>
					</ul>
				</div>
				<div class="roll-out-menu" data-ng-if="textelement.type == 'Headline'">
					<ul class="nav nav-pills nav-stacked show-on-focus">
						<li class="sort-handle"><a href="javascript:void(0)">Verschieben</a></li>
						<li ng-disabled="textelement.size < 2"><a data-ng-click="changeSize($event, textelement, -1)" href="javascript:void(0)">Vergrößern</a></li>
						<li ng-disabled="textelement.size > 5"><a data-ng-click="changeSize($event, textelement, 1)" href="javascript:void(0)">Verkleinern</a></li>
						<li><a data-ng-click="createParagraph($index+1, document.id)" href="javascript:void(0)">+ Paragraph</a></li>
						<li><a data-ng-click="createHeadline($index, document.id)" href="javascript:void(0)">+ Überschrift</a></li>
						<li><a data-ng-click="deleteElement(textelement, $index)" href="javascript:void(0)"> Löschen</a></li>
					</ul>
				</div>
			</div>
			<div class="col-xs-6" data-ng-if="textelement.type == 'Paragraph'">
				<!-- Merge -->
				<div class="merge-top merge show-on-focus" data-ng-if="document.textelements[$index-1].type == 'Paragraph'">
					<button type="button" class="btn btn-default merge" data-ng-click="mergeWithTop($index)">
						<span class="glyphicon glyphicon-arrow-up"></span> Zusammenführen
					</button>
				</div>
				
				<!-- content -->
				<div class="paragraph">
					<div>
						<textarea class="main" data-ng-model="textelement.text"
								data-ng-click="activateElement(textelement)"
								data-ng-change="change()" ng-auto-expand save-cursor-position></textarea>
					</div>
					
				</div>
				<!-- Merge -->
				<div class="merge-bottom merge show-on-focus" data-ng-if="document.textelements[$index+1].type == 'Paragraph'">
					<button type="button" class="btn btn-default merge" data-ng-click="mergeWithBottom($index)">
						<span class="glyphicon glyphicon-arrow-down"></span> Zusammenführen
					</button>
				</div>
				<!-- Merge Ende -->
			</div>
			<div class="col-xs-6" data-ng-if="textelement.type == 'Headline'">
				<h3 data-ng-class="'size_'+textelement.size"
					data-ng-click="activateElement(textelement)">
					<textarea class="headline" data-ng-model="textelement.text"
							data-ng-change="change()" ng-auto-expand save-cursor-position></textarea>
				</h3>
				
			</div>
			<div class="comment col-xs-4">
				<div class="input-group input-group-sm metatag-input" ng-hide="!show.metatags">
				  <span class="input-group-addon">i</span>
				  <input type="text" class="form-control meta-tags" placeholder="Metainfo" data-ng-model="textelement.metatags" data-ng-change="change()" placeholder="Metatags">
				</div>
				<!--  Rueckseite -->
				<textarea class="comment" id="{{textelement.id}}" data-ng-if="textelement.type == 'Paragraph'" ng-hide="!show.comments" data-ng-model="textelement.comment" data-ng-change="change()" placeholder="Rückseite bearbeiten" ng-auto-expand></textarea>
			</div>
		</div>
	</div>
</div>
}
