@(document: Document) @main("New Document") {
<nav role="navigation" class="navbar navbar-default  navbar-fixed-top">  
    <div class="container">
    	<div class="navbar-header">
            <button data-target="#bs-example-navbar-collapse-1" data-toggle="collapse" class="navbar-toggle" type="button">
                <span class="sr-only">Navigation ein-/ausblenden</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand">YouLearn</a>
        </div>
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li><a href="/" class="ownBtn">Übersicht</a></li>
			</ul>
		</div>
    </div>
</nav>  


<div class="container" data-ng-controller="DocumentController"
	data-ng-init="init(@document.id)">
	
	<div class="site-head row">
		<div class="col-xs-2"></div>
		<div class="jumbotron col-xs-8">
			<h1>{{document.title}}</h1>
			<wordcloud data-ng-if="document.combinedTexts" width="400" text="{{document.combinedTexts}}">
			</wordcloud>
			<p>Autor: {{document.givenname}} {{document.surname}}</p>
			<p>erstellt: @document.createdAt.format("dd.MM.yyyy HH:mm")</p>
			<p>geändert: @document.changedAt.format("dd.MM.yyyy HH:mm")</p>
		</div>
		<div class="col-xs-2">
			<ul class="nav nav-pills nav-stacked">
				<li><a href="/document/edit/@document.id">Editieren</a></li>
				<li><a href="/document/learn/@document.id">Lernen</a></li>
				<li><a data-ng-click="deleteDoc(@document.id)">Löschen</a></li>
			</ul>
		</div>
	</div>
</div>
}
