@(titel: String) @main("New Document", null) {

@_navi(null)

<div class="container">	
	<div class="row">
		<div class="col-xs-12">
			<h1>Hilfe</h1>
		  <p><strong>LearnThis</strong>.de ist eine Webapplikation, die es dir ermöglicht digitale Lernkarten zu 
erstellen, zu bearbeiten, zu lernen und zu teilen.</p>

<p>Stell die vor, die Software funktioniert wie ein unbegrenzter Haufen klassischer Lernkarten, 
die nur darauf warten, von dir beschrieben und gelernt zu werden. Im Gegensatz zu den analogen Karten, 
kannst du die Karten bei <strong>LearnThis</strong>.de aber auf allen digitalen Endgeräten 
(Smartphone, Tablet, Desktop usw.) automatisch mit Inhalt befüllen lassen, lernen, teilen und auch 
bearbeiten.</p>

<p>Über <em>Neues Kartenset</em> kannst du ein neues Lernkartenset anlegen und es <em>editieren</em>. 
Jedes Kartenset kann editiert und neue Lernkarten hinzugefügt werden. Über <em>Importieren</em> kannst du 
eine beliebige Textdatei (.txt) oder kopierten Freitext importieren und automatisch in Lernkarten umwandeln 
lassen. Diese kannst du dann <em>editieren</em> und so strukturieren, dass du dein eigenes Lernkartenset hast.</p>

<p>In der <em>Übersicht</em> (ggf. über einen Klick oben auf das <strong>LearnThis</strong>-Logo) werden dir alle 
Lernkarten angezeigt, die im System hinterlegt wurden. Bedenke: jeder kann alle Karten sehen! Wenn du ein Kartenset 
ausgewählt hast, kannst du über einen Klick auf <em>Karten lernen</em> den Inhalt lernen. Willst du, dass keiner dein 
Lernkartenset ändern kann, musst du auf <em>Passwort ändern</em> klicken, um ein Passwort für das editieren vergeben. 
Über <em>löschen</em> kannst du ein jeweiliges Kartenset entfernen. Es wird für alle Nutzer gelöscht sein.</p>

<p>Das ist nur eine kurze Hilfe. Ein Erklärvideo und eine ausführliche Hilfe folgen demnächst.</p>
<h2>Fragen, Anmerkungen, Ideen und Kontakt</h2>
<p>Die Software befindet sich in einer frühen Phase der Entwicklung. Falls du Anregungen oder Ideen hast, 
nutze bitte unser Feedback-Formular unten in der Navigation oder übermittle uns deine Ideen direkt unter 
<a href="http://learnthis.uservoice.com" target="_blank">learnthis.uservoice.com</a>. 
Bei generellen Kontaktanfragen schicke bitte eine Mail an die Kontaktadresse im <a href="../imprint">Impressum</a>.</p>
		</div>
	</div>
</div>
}
