@(title: String) @main("New Document", null) {

@_navi(null)

<div class="container">	
	<div class="row">
		<div class="col-xs-12">
		<h1>Impressum</h1>
	
			<p>Die Leuphana Universität Lüneburg ist eine Körperschaft des öffentlichen Rechts in der Trägerschaft einer Stiftung öffentlichen Rechts. Umsatzsteuer-Identifikationsnummer gemäß § 27a Umsatzsteuergesetz:
			DE 811 305 548. Inhaltlich verantwortlich i.S.d. § 55 II RStV ist die folgende Person:</p>
			
			<p>Christian Heise<br>
			Centre for Digital Cultures<br>
			Leuphana Universität Lüneburg<br>
			Scharnhorststraße 1<br>
			21335 Lüneburg <br>
			heise&#64;leuphana.com<br>
			  www.leuphana.de  <br></p>
			
			 <h2>Kontakt</h2>
			
			<p>Für Feedback nutze bitte <a href="http://learnthis.uservoice.com" target="_blank">learnthis.uservoice.com</a>. Bei Anfragen oder Kontakt bitte eine Mail an <a href="mailto:heise&#64;leuphana.com">heise&#64;leuphana.com</a>.</p>
			
			<h2>Haftungshinweis</h2>
			
			<p>Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung für die Inhalte externer Links. Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich.</p>
			
			<h2>Urheberrecht</h2>
			
			<p>Alle Inhalte stehen unter eine <a target="_blank" rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0 Lizenz</a>. </p>
		</div>
	</div>
</div>
}
