@(doc: Document) @main("Dokument Schlüsselbegriffe") {
<div class="container">
    <ol class="breadcrumb">
      <li><a href="/"> < Übersicht </a></li>
    </ol>  
    <h1>Schlüsselbegriffe</h1>
    <div class="content-container">
      <div class="content-head"></div>
      <div class="content-body-container">
		<ul>
			@for(textelement <- doc.textelements) {
				<li>
<!-- 				<div>@textelement.text</div> -->
				<ul>
				@for(keyword <- textelement.keywords) {
				  <li>@keyword</li>
				}	
				</ul>
				</li>
			}
		</ul>
      </div>
    </div>
  </div>
}