@(title: String)(content: Html)

<!DOCTYPE html>
<html data-ng-app="lhpApp">
    <head>
        <title>@title</title>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/project.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("lib/bootstrap-3.0.3/css/bootstrap.css")">
        <!-- <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")"> -->
        <script src="@routes.Assets.at("lib/jquery-ui-1.10.3/jquery-1.9.1.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("lib/jquery-ui-1.10.3/ui/jquery-ui.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("lib/angular-1.2/angular1-2-7.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("lib/angular-1.2/modules/sortable.js")" type="text/javascript"></script>
        
        <script src="@routes.Assets.at("js/f3.util.js")" type="text/javascript"></script>
<!--         <script src="@routes.Assets.at("js/autogrow.js")" type="text/javascript"></script> -->
<!--         <script src="@routes.Assets.at("js/project.js")" type="text/javascript"></script> -->
        <script src="@routes.Assets.at("js/services/saveService.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("js/angular.services.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("js/angular.init.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("js/controllers/documentController.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("js/controllers/documentListController.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("js/directives/directives.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("js/filters/filters.js")" type="text/javascript"></script>
    </head>
    <body>
        @content
    </body>
</html>
